html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f8f8f8;
}
html *,
html *:before,
html *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
html .body {
  margin: 0;
  padding: 0;
}
@media (min-width: 1120px) {
  html .body.--positioning {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}

@font-face {
  font-family: "TTLakes";
  src: url("../font/TTLakes-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "TTLakes";
  src: url("../font/TTLakes-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TTLakes";
  src: url("../font/TTLakes-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.upper-menu {
  padding-top: 1em;
  padding-bottom: 1em;
}
.upper-menu--bacground-color--white {
  background-color: #ffffff;
}
.upper-menu--border {
  border: #d9fff5 1px solid;
}
.upper-menu__button {
  background-color: transparent;
  cursor: pointer;
}
.upper-menu__button--positioning {
  border: 0;
}
@media (min-width: 1120px) {
  .upper-menu--display--none {
    display: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 1120px) {
  .upper-menu__container-inner--display--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 768px) and (max-width: 1119.999px) {
  .upper-menu--display--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 767.999px) {
  .upper-menu--display--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 768px) and (max-width: 1119.999px) {
  .upper-menu__container-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 167px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 18px;
  }
}
@media (min-width: 768px) and (max-width: 1119.999px) {
  .upper-menu__container-right--laptop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 280px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0.5em;
  }
}
@media (min-width: 768px) and (max-width: 1119.999px) {
  .upper-menu__container-inner--display--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 767.999px) {
  .upper-menu__container-left--mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 167px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 18px;
  }
}
@media (max-width: 767.999px) {
  .upper-menu__container-right--mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 110px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0.5em;
  }
}
@media (max-width: 767.999px) {
  .upper-menu__container-inner--display--none {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1119.999px) {
  .upper-menu .divider--mob {
    display: none;
  }
}
@media (max-width: 767.999px) {
  .upper-menu .divider--laptop {
    display: none;
  }
}

.content {
  background-color: #f8f8f8;
  font-family: "TTLakes";
}
@media (min-width: 1120px) {
  .content {
    padding-top: 20px;
    padding-left: 320px;
  }
}

.title__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.title__h1 {
  margin-left: 0.5em;
}
.title__h1--font {
  white-space: nowrap;
}
@media (min-width: 1120px) {
  .title--positioning {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 40px;
  }
}
@media (min-width: 768px) and (max-width: 1119.999px) {
  .title--positioning {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 767.999px) {
  .title--positioning {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.side-menu--positioning {
  margin-left: 1em;
}
.side-menu__button {
  background-color: #f8f8f8;
  cursor: pointer;
}
.side-menu__button--positioning {
  display: block;
  margin-left: 0.3em;
  padding: 0.5em;
  border-radius: 0.5em;
  border: 3px transparent solid;
  outline: none;
}
.side-menu__button--font {
  white-space: nowrap;
  font-family: "TTLakes";
  font-weight: 500;
  font-style: normal;
  font-size: 1.2em;
  color: #7e7e82;
}
.side-menu__button:hover, .side-menu__button:focus, .side-menu__button:active {
  border: 3px #d9fff5 solid;
  background-color: #ffffff;
}
@media (min-width: 1120px) {
  .side-menu__ul--descktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 0;
    padding: 0;
    list-style-type: none;
  }
}
@media (min-width: 768px) and (max-width: 1119.999px) {
  .side-menu__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: scroll;
    margin-left: 0;
    padding: 0;
    list-style-type: none;
  }
}
@media (max-width: 767.999px) {
  .side-menu__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: scroll;
    margin-left: 0;
    padding: 0;
    list-style-type: none;
  }
}
@media (min-width: 768px) and (max-width: 1119.999px) {
  .side-menu__ul::-webkit-scrollbar {
    width: 0;
  }
}
@media (max-width: 767.999px) {
  .side-menu__ul::-webkit-scrollbar {
    width: 0;
  }
}

.article__figure--positioning {
  margin-left: 1em;
  margin-top: 0;
}
@media (min-width: 1120px) {
  .article--descktop {
    margin-top: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: top;
        -ms-flex-align: top;
            align-items: top;
  }
}
@media (min-width: 1120px) {
  .article__text {
    margin-left: 1.3em;
    color: #1b1c21;
    overflow: hidden;
  }
}
@media (min-width: 768px) and (max-width: 1119.999px) {
  .article__text {
    margin-left: 1.3em;
    height: 8em;
    color: #1b1c21;
    overflow: hidden;
  }
}
@media (max-width: 767.999px) {
  .article__text {
    margin-left: 1.3em;
    height: 8em;
    color: #1b1c21;
    overflow: hidden;
  }
}
@media (min-width: 1120px) {
  .article__container--descktop {
    width: 50%;
  }
}
@media (min-width: 1120px) {
  .article__figure--descktop {
    width: 50%;
  }
}
@media (max-width: 767.999px) {
  .article__figure--mob {
    margin-left: auto;
    margin-right: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (min-width: 768px) and (max-width: 1119.999px) {
  .article--laptop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: top;
        -ms-flex-align: top;
            align-items: top;
  }
}
@media (max-width: 767.999px) {
  .article--mob {
    display: block;
  }
}

.expand-button {
  background-color: #f8f8f8;
  cursor: pointer;
}
.expand-button--font {
  font-family: "TTLakes";
  font-weight: 500;
  font-size: 1rem;
  color: #1b1c21;
}
.expand-button--positioning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.3em;
  border: 0;
  margin-left: 0.3em;
  margin-bottom: 1.3em;
}

.service__button {
  background-color: #f8f8f8;
}
.service__button--font {
  white-space: nowrap;
  font-family: "TTLakes" bold;
  font-family: "TTLakes";
  font-weight: 500;
  font-style: normal;
  font-size: 1.2rem;
  color: #1b1c21;
}
.service__button--positioning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0;
  margin-left: 0.3em;
}
.service--font {
  font-family: "TTLakes" bold;
  font-size: 5em;
}
.service__immage--positioning {
  margin-left: 0.4em;
}
@media (min-width: 1120px) {
  .service--positioning {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 400px;
  }
}
@media (min-width: 768px) and (max-width: 1119.999px) {
  .service--display--none {
    height: 0;
    width: 0;
    overflow: hidden;
  }
}
@media (max-width: 767.999px) {
  .service--display--none {
    height: 0;
    width: 0;
    overflow: hidden;
  }
}

@media (min-width: 1120px) {
  .immage--descktop {
    border-radius: 7px;
    width: 100%;
    max-width: 600px;
  }
}

@media (min-width: 768px) and (max-width: 1119.999px) {
  .immage--laptop {
    border-radius: 7px;
    width: 45vw;
  }
}

@media (max-width: 767.999px) {
  .immage--mob {
    border-radius: 0px;
    width: 100%;
    max-width: 360px;
  }
}

.burger-menu-cover {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 2000;
}
.burger-menu-cover--display--none {
  opacity: 0;
  z-index: -1;
}
@media (min-width: 1120px) {
  .burger-menu-cover--display--none {
    opacity: 100%;
    z-index: 1000;
  }
}
@media (min-width: 1120px) {
  .burger-menu-cover--desktop {
    width: 320px;
  }
}

.burger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 320px;
  height: 100vh;
  padding: 0;
  margin: 0;
  z-index: 1000;
  background-color: #ffffff;
}
@media (max-width: 767.999px) {
  .burger-menu--mob {
    width: 100%;
  }
}
.burger-menu--shadow {
  -webkit-box-shadow: -50px 0 50px 60px #ceced4;
          box-shadow: -50px 0 50px 60px #ceced4;
}
@media (min-width: 1120px) {
  .burger-menu--shadow-descktop {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
.burger-menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0;
}
.burger-menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  height: 90px;
  padding-left: 26px;
  padding-right: 10px;
  background-color: #ffffff;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 500;
}
.burger-menu__header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
}
.burger-menu__button {
  background-color: transparent;
  border: 0;
  padding: 0;
  margin-right: 16px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
@media (min-width: 1120px) {
  .burger-menu__button-close--hide {
    display: none;
  }
}

.nav-container {
  -webkit-transition: 1s;
  transition: 1s;
}
.nav-container--transform {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
}

.nav-burger {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-burger__a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  white-space: nowrap;
  font-family: "TTLakes";
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  color: #1b1c21;
  margin-bottom: 26px;
  margin: 0;
  margin-bottom: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 26px;
  vertical-align: middle;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.nav-burger__a--activ {
  background: url("../img/highlight.svg") 0 50% no-repeat;
  color: #7e7e82;
}
.nav-burger__a:hover {
  color: #7e7e82;
}

.bottom-burger {
  padding-bottom: 39px;
  padding-left: 26px;
  -webkit-transition: 1s;
  transition: 1s;
}
.bottom-burger--transform {
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
}

.container-bottom-burger {
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
  margin-left: 0;
}

.contacts__mail {
  display: block;
  text-decoration: none;
  white-space: nowrap;
  font-family: "TTLakes";
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  color: #1b1c21;
  margin-bottom: 26px;
}
.contacts__tel {
  display: block;
  text-decoration: none;
  white-space: nowrap;
  font-family: "TTLakes";
  font-weight: bold;
  font-style: normal;
  font-size: 1.5rem;
  color: #1b1c21;
  margin-bottom: 54px;
}

.language__lang {
  text-decoration: none;
  white-space: nowrap;
  font-family: "TTLakes";
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  color: #1b1c21;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.language__lang--active {
  color: #7e7e82;
}
.language__lang:hover {
  color: #7e7e82;
}

@media (min-width: 1120px) {
  .burger-menu--trnsition--none {
    -webkit-transition: none;
    transition: none;
    -webkit-transform: none;
            transform: none;
  }
}

.repair-brands {
  margin: 0;
  padding: 0;
}
@media (min-width: 1120px) {
  .repair-brands {
    padding-left: 320px;
  }
}
.repair-brands .h2-container {
  border-top: 1px #d9fff5 solid;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#ffffff));
  background: linear-gradient(to right, transparent, #ffffff);
}
.repair-brands .swiper {
  min-width: 320px;
}
.repair-brands .swiper__hedder {
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  font-family: "TTLakes";
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  color: #7e7e82;
  padding: 20px;
  padding-left: 34px;
  white-space: normal;
}
.repair-brands .swiper__container {
  position: relative;
}
.repair-brands .swiper__container--mob {
  height: 120px;
  padding-right: 100px;
}
.repair-brands .swiper__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-left: 32px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 80px;
  max-height: 260px;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.repair-brands .swiper__main--mob {
  height: 80px;
  overflow: visible;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.repair-brands .swiper__main--laptop {
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  row-gap: 16px;
  height: 170px;
  min-height: 80px;
}
.repair-brands .swiper__main--overfolw--hidden {
  overflow: visible;
}
.repair-brands .swiper__main--height--fit-content {
  height: 254px;
  min-height: 80px;
}
.repair-brands .swiper__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 240px;
  height: 72px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.repair-brands .swiper__a {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(../img/go.svg);
  margin-right: 15px;
}
.repair-brands .swiper__img {
  margin-left: 15px;
}
.repair-brands .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #979797;
}
.repair-brands .swiper-shadow {
  position: absolute;
  left: 100%;
  top: 0;
  -webkit-box-shadow: -10px 0 20px 15px #ffffff;
          box-shadow: -10px 0 20px 15px #ffffff;
  height: 72px;
  width: 10px;
  z-index: 100;
}
.repair-brands .swiper-shadow--display--none {
  display: none;
}
.repair-brands .show-all {
  background-color: #f8f8f8;
  cursor: pointer;
}
.repair-brands .show-all--font {
  font-family: "TTLakes";
  font-weight: 500;
  font-size: 1rem;
  color: #1b1c21;
}
.repair-brands .show-all--positioning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  border: 0;
  padding: 0;
  margin-left: 32px;
  margin-bottom: 1.3em;
  margin-top: 22px;
}
.repair-brands .show-all--display-none {
  display: none;
}

.button {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.button:hover {
  opacity: 50%;
}