.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 50px;

  font-family: 'TTLakes';
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: $font-secondary--color;
  @media (min-width: 768.999px) {
    flex-direction: row;
  }
  @media (min-width: 1120px) {
    flex-direction: row;
    padding-left: 355px;
  }
  div {
    width: 100%;
    text-align: center;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    @media (min-width: 768.999px) {
      width: 33.333%;
    }
  }

  .footer_block-left {
    @media (min-width: 768.999px) {
      text-align: left;
    }
  }

  .footer_block-center {
    @media (min-width: 768.999px) {
      text-align: center;
    }
  }

  .footer_block-right {
    @media (min-width: 768.999px) {
      text-align: right;
    }
  }
}
