.repair-prices {
  margin: 0;
  padding: 0;
  @media (min-width: 1120px) {
    padding-left: 320px;
  }

  .repair-prices--shadow {
    position: absolute;
    left: 100%;
    top: 0;
    box-shadow: -10px 0 20px 15px $background-secondary--color;
    height: 190px;
    width: 10px;
    z-index: 100;
  }
}

.repair-prices__main {
  &--mob {
    max-height: 190px;
    overflow: visible;
    flex-wrap: nowrap;
  }

  &--laptop {
    display: block;
    column-gap: 0px;
    row-gap: 0px;
    max-height: fit-content;
    width: calc(100% - 60px);
  }
}

.repair-prices__container--mob {
  height: 240px;
  padding-right: 100px;
}

.repair-prices__container {
  @media (min-width: 768.999px) {
    width: 100%;
  }
}

.repair-prices__element {
  display: flex;
  width: 274px;
  height: 160px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px;
  padding-right: 0;
  font-family: 'TTLakes';
  font-weight: 500;
  font-size: 1rem;
  color: $font-havy-color;
  @media (min-width: 768.999px) {
    width: calc(100% - 30px);
    height: fit-content;
    border: 0;
    border-radius: 0;
    padding: 0;
    padding-right: 15px;
    padding-left: 15px;

    &:first-child {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
    &:last-child {
      border-bottom-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
  }
}

.prices__element-content {
  font-weight: 200;

  @media (min-width: 768.999px) {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px $border-secondary--color solid;
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }

  .prices-text {
    @media (min-width: 768.999px) {
      width: 50%;
    }
  }

  .prices-price {
    @media (min-width: 768.999px) {
      width: 16.666%;
    }
  }

  .prices-time {
    @media (min-width: 768.999px) {
      width: 16.666%;
    }
  }

  .order {
    @media (min-width: 768.999px) {
      display: flex;
      width: 16.666%;
      justify-content: flex-end;
    }
    @media (max-width: 768px) {
      position: absolute;
      bottom: 15px;
      right: 5px;
    }
  }
}

.prices-element__label {
  color: $font-secondary--color;
  @media (min-width: 768.999px) {
    display: none;
  }
}

.repair-prices__a {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 32px;
  width: 132px;
  padding-left: 8px;
  background: none;
  border-radius: 16px;
  background-color: $buttons-background--color;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 800;
  color: $background-secondary--color;

  span {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('../img/goside.svg');
  }
}

.table-hedder {
  display: none;
  @media (min-width: 768.999px) {
    display: flex;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 15px;
    width: 100%;
    font-family: 'TTLakes';
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: $font-secondary--color;
  }

  .table-text {
    width: 50%;
  }
  .table-price {
    width: 16.666%;
  }
  .table-time {
    width: 16.666%;
  }
  .table-button {
    width: 16.666%;
  }
}

.repair-prices__footer {
  max-width: 500px;
  padding-left: 35px;

  .repair-prices__p {
    display: flex;
    justify-content: flex-start;
    font-family: 'TTLakes';
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: $font-secondary--color;
  }

  .repair-prices__comerse {
    display: flex;
    justify-content: flex-start;
    font-family: 'TTLakes';
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    color: $font-havy-color;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding-left: 0;

    span {
      text-align: left;
    }
    .comerse-arrow {
      display: inline-block;
      height: 24px;
      width: 24px;
      background-image: url('../img/more.svg');
      margin-bottom: -6px;
    }
  }
}
