$background-secondary--color: #ffffff;
$background-main--color: #f8f8f8;
$navy: #d9fff5;
$h--gradient: linear-gradient(
  to right,
  transparent,
  $background-secondary--color
);
$swiper-elements--border-color: #eaeaea;
$burger-shadow: #ceced4;
$activ-elements--font-color: #7e7e82;
$font-havy-color: #1b1c21;
$swiper-pagination-bullets-color: #979797;
$background--transparency: rgba(255, 255, 255, 0.9);
$font-secondary--color: #7e7e82;
